<section>
        <div class="container">
            <h2 class="ui-section-title">2. Typography</h2>
            <h3 class="ui-section-title">2.1. Heading</h3>
            <div class="ui-section">
                <h1 class="h1">h1/ 48px/ Montserrat - Black</h1>
                <h2 class="h2">h2/ 36px/ <span class="text_primary">Montserrat</span> - Black</h2>
                <h3 class="h3">h3/ 16px/ Open Sans</h3>
            </div>
            <h3 class="ui-section-title">2.2. Paragraph</h3>
            <div class="ui-section">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione aut, molestiae vitae nulla consequuntur. Earum
                    aliquid eius hic debitis ea animi doloribus molestiae molestias omnis error, voluptatibus in aliquam? Qui
                    repellat accusantium esse labore laborum tempore, veritatis consequatur eum distinctio, nihil ipsam incidunt,
                    velit consequuntur debitis, unde? Reiciendis, temporibus deserunt!</p>
            </div>
            <h3 class="ui-section-title">2.3. Lists</h3>
            <div class="ui-section">
                <div class="ui-section-list">
                    <ul>
                        <li>
                            <p>Item 1</p>
                        </li>
                        <li>
                            <p>Item 2</p>
                        </li>
                        <li>
                            <p>Item 3</p>
                        </li>
                        <li>
                            <p>Item 4</p>
                        </li>
                    </ul>
                </div>
                <div class="ui-section-list">
                    <ol>
                        <li>
                            <p>Item 1</p>
                        </li>
                        <li>
                            <p>Item 2</p>
                        </li>
                        <li>
                            <p>Item 3</p>
                        </li>
                        <li>
                            <p>Item 4</p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>