<section>
    <div class="container">
        <h2 class="ui-section-title">6. Products</h2>
        <div class="ui-section">
            <div class="row">
                <div class="col-3">
                    <div class="product-item">
                        <div class="product-img">
                            <img src="uploads/product-img1.jpg" alt="">
                            <div class="product-hover">
                                <p class="product-hover__preview">Preview</p>
                            </div>
                        </div>
                        <h3 class="product__title">Home Page #1</h3>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product-item">
                        <div class="product-img">
                            <img src="uploads/product-img1.jpg" alt="">
                            <div class="product-hover">
                                <p class="product-hover__preview">Preview</p>
                            </div>
                        </div>
                        <h3 class="product__title">Home Page #1</h3>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product-item">
                        <div class="product-img">
                            <img src="uploads/product-img1.jpg" alt="">
                            <div class="product-hover">
                                <p class="product-hover__preview">Preview</p>
                            </div>
                        </div>
                        <h3 class="product__title">Home Page #1</h3>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product-item">
                        <div class="product-img">
                            <img src="uploads/product-img1.jpg" alt="">
                            <div class="product-hover">
                                <p class="product-hover__preview">Preview</p>
                            </div>
                        </div>
                        <h3 class="product__title">Home Page #1</h3>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product-item">
                        <div class="product-img">
                            <img src="uploads/product-img1.jpg" alt="">
                            <div class="product-hover">
                                <p class="product-hover__preview">Preview</p>
                            </div>
                        </div>
                        <h3 class="product__title">Home Page #1</h3>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product-item">
                        <div class="product-img">
                            <img src="uploads/product-img1.jpg" alt="">
                            <div class="product-hover">
                                <p class="product-hover__preview">Preview</p>
                            </div>
                        </div>
                        <h3 class="product__title">Home Page #1</h3>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product-item">
                        <div class="product-img">
                            <img src="uploads/product-img1.jpg" alt="">
                            <div class="product-hover">
                                <p class="product-hover__preview">Preview</p>
                            </div>
                        </div>
                        <h3 class="product__title">Home Page #1</h3>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product-item">
                        <div class="product-img">
                            <img src="uploads/product-img1.jpg" alt="">
                            <div class="product-hover">
                                <p class="product-hover__preview">Preview</p>
                            </div>
                        </div>
                        <h3 class="product__title">Home Page #1</h3>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</section>