/* ==========================================================================
	 BUTTONS
	 ===========================================================================*/
.btn,
.btn[type="button"] {
  position: relative;
  z-index: z(button);
  display: inline-flex;
  vertical-align: middle;
  min-width: btn(min-width);
  max-width: btn(max-width);
  height: btn(height);
  font-family: btn(font-family);
  @include font-size(btn(font-size));
  line-height: btn(line-height);
  font-weight: btn(font-weight);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: 1px solid $color-white;
  border-radius: btn(border-radius);
  background: none;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: inherit;
  color: $color-white;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  &:hover {
    color: $color-main;
    background: $color-white;
  }
  &:focus {
    color: $color-main;
    background: $btn-secondary-bgActive;
    outline: 0;
  }
}
.btn_secondary {
  color: $color-secondary;
  border-color: $color-secondary;
  &:hover {
    color: $color-white;
    background: $color-secondary;
  }
  &:focus {
    background: $btn-primary-bgActive;
    border-color: $btn-primary-bgActive;
    color: $color-white;
  }

}
/* end buttons*/